<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Indicosmic.com</span>
  
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" style="margin-left: 57pc;">
      <mat-icon>share</mat-icon>
      &nbsp;&nbsp;&nbsp;
    <mat-icon>favorite</mat-icon>
    
  </button>
</mat-toolbar>

<br>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <mat-card>
    <mat-card-title style="display: flex; justify-content: center; align-items: center; height: 10vh;">Feedback Card</mat-card-title>
    <mat-card-content>
      <form class="example-form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
          <mat-label>Enter First Name : </mat-label>
          <input matInput placeholder="Enter First Name" formControlName="firstName">
          <mat-error *ngIf="myForm.get('firstName').hasError('required') && myForm.get('firstName').touched">
            First Name is required.
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Enter Last Name : </mat-label>
          <input matInput placeholder="Enter Last Name" formControlName="lastName">
          <mat-error *ngIf="myForm.get('lastName').hasError('required') && myForm.get('lastName').touched">
            Last Name is required.
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Enter Mobile No : </mat-label>
          <input matInput placeholder="Enter Mobile No" formControlName="mobileNumber">
          <mat-error *ngIf="myForm.get('mobileNumber').hasError('required') && myForm.get('mobileNumber').touched">
            Mobile Number is required.
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment :</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..." formControlName="comment"></textarea>
          <mat-error *ngIf="myForm.get('comment').hasError('required') && myForm.get('comment').touched">
            Leave comment is required.
          </mat-error>
        </mat-form-field>
        <br>
        <div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<table mat-table [dataSource]="indicosbook">

 
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Area</th>
    <td mat-cell *matCellDef="let book of indicosbook">{{ book.area}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Capital</th>
    <td mat-cell *matCellDef="let book of indicosbook"> {{ book.capital }}</td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Border</th>
    <td mat-cell *matCellDef="let book of indicosbook"> {{ book.borders  }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['id', 'name', 'category']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'category']"></tr>

</table>

<!-- <table mat-table [dataSource]="indicosbook1">

  <h1><mat-label>!!Observables with ngFor using async pipe in Angular 16 | rxjs | Angular 16 !!</mat-label></h1>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Body</th>
    <td mat-cell *matCellDef="let book of indicosbook1 | async">{{ book.body}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let book of indicosbook1 | async"> {{ book.email}}</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let book of indicosbook1 | async"> {{ book.id}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let book of indicosbook1 | async"> {{ book.name}}</td>
  </ng-container>

  <ng-container matColumnDef="postId">
    <th mat-header-cell *matHeaderCellDef>PostId</th>
    <td mat-cell *matCellDef="let book of indicosbook1 | async"> {{ book.postId}}</td>
  </ng-container>

</table> -->

 <h1>Observables with ngFor using async pipe in Angular 16 | rxjs | Angular 16</h1>

 <table mat-table [dataSource]="indicosbook1">
   <ng-container matColumnDef="body">
    <th mat-header-cell *matHeaderCellDef>Body</th>
    <td mat-cell *matCellDef="let book of indicosbook1 | async">{{ book.body }}</td>
  </ng-container>
  
 
   <ng-container matColumnDef="email">
     <th mat-header-cell *matHeaderCellDef>Email</th>
     <td mat-cell *matCellDef="let book of indicosbook1 | async">{{ book.email }}</td>
   </ng-container>
 
   <ng-container matColumnDef="id">
     <th mat-header-cell *matHeaderCellDef>Id</th>
     <td mat-cell *matCellDef="let book of indicosbook1 | async">{{ book.id }}</td>
   </ng-container>
 
   <ng-container matColumnDef="name">
     <th mat-header-cell *matHeaderCellDef>Name</th>
     <td mat-cell *matCellDef="let book of indicosbook1 | async">{{ book.name }}</td>
   </ng-container>
 
   <ng-container matColumnDef="postId">
     <th mat-header-cell *matHeaderCellDef>PostId</th>
     <td mat-cell *matCellDef="let book of indicosbook1 | async">{{ book.postId }}</td>
   </ng-container>
 
   <!-- Set the columns for the table -->
   <tr mat-header-row *matHeaderRowDef="['body', 'email', 'id', 'name', 'postId']"></tr>
   <tr mat-row *matRowDef="let row; columns: ['body', 'email', 'id', 'name', 'postId']"></tr>
 </table>


 <!-- <table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="alpha_two_code">
   <th mat-header-cell *matHeaderCellDef>alpha_two_code</th>
   <td mat-cell *matCellDef="let book of testData ">{{ book.alpha_two_code }}</td>
 </ng-container>
 

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef>country</th>
    <td mat-cell *matCellDef="let book of testData ">{{ book.country }}</td>
  </ng-container>

  <ng-container matColumnDef="domains">
    <th mat-header-cell *matHeaderCellDef>Domains</th>
    <td mat-cell *matCellDef="let book of testData ">{{ book.domains }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let book of testData ">{{ book.name }}</td>
  </ng-container>

  <ng-container matColumnDef="postId">
    <th mat-header-cell *matHeaderCellDef>State Province</th>
    <td mat-cell *matCellDef="let book of testData ">{{ book.stateprovince}}</td>
  </ng-container>
</table> -->

<!-- your-component.component.html -->



 
 <!-- <table mat-table [dataSource]="usaData">
  <ng-container matColumnDef="Year">
    <th mat-header-cell *matHeaderCellDef>Body</th>
    <td mat-cell *matCellDef="let book of usaData | async">{{ book }}</td>
  </ng-container>

  <ng-container matColumnDef="Population">
    <th mat-header-cell *matHeaderCellDef>Population</th>
    <td mat-cell *matCellDef="let book of usaData | async">{{ book.Population }}</td>
  </ng-container>

  <ng-container matColumnDef="ID Year">
    <th mat-header-cell *matHeaderCellDef>ID Year</th>
    <td mat-cell *matCellDef="let book of usaData | async">{{ book.IDYear }}</td>
  </ng-container>

  <ng-container matColumnDef="Nation">
    <th mat-header-cell *matHeaderCellDef>Nation</th>
    <td mat-cell *matCellDef="let book of usaData | async">{{ book.Nation }}</td>
  </ng-container>

  <ng-container matColumnDef="IDNation">
    <th mat-header-cell *matHeaderCellDef>IDNation</th>
    <td mat-cell *matCellDef="let book of usaData | async">{{ book.IDNation }}</td>
  </ng-container>
</table> -->
<!-- <table mat-table [dataSource]="indicosbook">
  ...
</table> -->

<!-- <table mat-table [dataSource]="indicosbook1" class="mat-elevation-z8 demo-table">
 
  <ng-container matColumnDef="demo-position">
    <th mat-header-cell *matHeaderCellDef> Body. </th>
    <td mat-cell *matCellDef="let book of indicosbook1 | async"> {{ book.body }} </td>
  </ng-container>


  <ng-container matColumnDef="demo-name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    
    <td mat-cell *matCellDef="let book of indicosbook1 | async"> {{ book.name }} </td>
  </ng-container>

 
  <ng-container matColumnDef="demo-weight">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let book of indicosbook1 | async"> {{ book.id }} </td>
  
  </ng-container>


  <ng-container matColumnDef="demo-symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    
    <td mat-cell *matCellDef="let book of indicosbook1 | async"> {{ book.postId }} </td>
  </ng-container>

  <ng-container matColumnDef="demo-symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>

    <td mat-cell *matCellDef="let book of indicosbook1 | async"> {{ book.postId }} </td>
  </ng-container>

  <ng-container matColumnDef="demo-symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>

    <td mat-cell *matCellDef="let book of indicosbook1 | async"> {{ book.postId }} </td>
  </ng-container>
</table> -->



<!-- <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <ul>
    <li *ngFor="let bk of indicosbook">
      Id : {{ bk.id }} , Name : {{ bk.name }} , Category : {{ bk.category}}
    </li>
  </ul>
  </div> -->

<mat-toolbar color="accent">
  <span>Indicosmic.com</span>
</mat-toolbar>
